@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

:root {
    --main-color: #0B0E66;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*--------------------------------------- header------------------- */
.header-wrap {
    height: 150px;
    background-color: #3576C6;
    border: 2px solid #FFFDFD;
    justify-content: center;
    align-items: center;
    gap: 270px;
}

.header-menu {
    gap: 43px;

    a {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: white;
        white-space: nowrap;
    }
}

.header-item:nth-child(2) a {
    font-weight: 700;
    color: var(--main-color);
}

.header-btn {
    width: 197px;
    height: 49px;
    border: none;
    background-color: var(--main-color);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #26C7EA;
}

/*---------------------------------------- sec1 -------------------*/
.sec1-wrap {
    position: relative;
    height: 743px;
    background-image: url(./images/photo_2024-11-26_20-44-53.png);
}

.sec1-btn {
    width: 340px;
    height: 120px;
    background-color: #3576C6;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFDFD;
    position: absolute;
    right: 200px;
    bottom: 120px;
}

/*---------------------------- sec2 ------------------------------*/
.sec2-wrap {
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h2 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #121212;
        text-align: center;
        text-transform: uppercase;

    }

    p {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        width: 927px;
        height: 52px;
        padding-top: 15px;
        margin-bottom: 32px;
        color: #736A6A;
    }
}

.sec2-photo {
    gap: 20px;
    justify-content: center;
}
/* ------------------------sec3 ------------------*/
.sec3-wrap{
    margin-top: 103px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #121212;
        text-transform: uppercase;

    }
    p{
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #736A6A;
        margin-top: 11px;
        margin-bottom: 35px;
    }
}
/*------------------------ sec4 -----------------*/
.sec4-wrap{
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 60px; 
    h2{
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #121212;
        text-transform: uppercase;
        margin-bottom: 35px;
    }
}
/* --------------footer---------------------- */
.footer-wrap {
    margin-top: 80px;
    justify-content: center;
    gap: 150px;
    background-color: #3576C6;
    height: 243px;
    align-items: center;
    span{
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: #26C7EA;
    }
}

.footer-text {
    h4 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color: #26C7EA;
        padding-bottom: 20px;
    }
    p{
        font-family: "Inter", sans-serif;
        font-weight:500;
        font-size: 24px;
        line-height: 100%;
        color: #FFFDFD;
        padding-bottom: 10px;
    }
}
.footer-social{
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}
.footer-contact{
    h4{
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color: #26C7EA;
        padding-bottom: 10px;  
    }

}
.footer-adress{
    align-items: center;
    gap: 15px;
    p{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        color: #FFFDFD;
    }
  
}
